AzureTableUtils/bin/
AzureTableUtils/obj/
AzureTableUtils.Tests/bin/
AzureTableUtils.Tests/obj/
AzureTableUtils.Tests/TestResults/
AzureTableUtils.IntegrationTests/bin/
AzureTableUtils.IntegrationTests/obj/
AzureTableUtils.IntegrationTests/TestResults/
AzureTableUtils.IntegrationTests/test.runsettings
.vs/
*.user
*.suo
